body{
  margin:0;
  padding:0;
  height:100vh;

  display:flex;
  justify-content:center;
  align-items:center;

  background:linear-gradient(
    to right,
    #ff758c,
    #ff7eb3
  );

  font-family:Arial;

  overflow:hidden;
}

.container{
  text-align:center;
  color:white;
}

h1{
  font-size:3rem;
  margin-bottom:30px;
}

.buttons{
  position:relative;
}

button{

  padding:15px 30px;

  font-size:20px;

  border:none;

  border-radius:12px;

  cursor:pointer;

  margin:10px;

  transition:0.3s;
}

button:hover{
  transform:scale(1.1);
}

#yesBtn{
  background:white;
  color:#ff4f81;
}

#noBtn{
  background:black;
  color:white;
  position:absolute;
}

.hidden{
  display:none;
}

img{
  width:250px;
  margin-top:30px;
  border-radius:20px;
}
.hearts::before{

  content:
  "❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️";

  position:absolute;

  top:100%;

  left:0;

  width:100%;

  font-size:30px;

  animation:
  floatHearts 6s linear infinite;
}

@keyframes floatHearts{

  from{
    transform:
    translateY(0);
  }

  to{
    transform:
    translateY(-120vh);
  }
}
@media(max-width:600px){

  h1{
    font-size:2rem;
    padding:20px;
  }

  button{
    font-size:18px;
    padding:12px 24px;
  }

  img{
    width:200px;
  }

}